.spinner {
    --size: 24px;

    width: var(--size);
    aspect-ratio: 1 / 1;

    border: 4px solid var(--primary-color);
    border-left-color: transparent;
    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}