@import "./variables.css";
@import "./fonts/fonts.css";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--bg-light-color);
}
